extends layout

block content
  form
    div.row
      div.col-sm-4
        input.form-control(type="text",name="name" placeholder="Name")
      div.col-sm-4 
        input.form-control(type="number",name="number", placeholder="Mobile Number")
      div.col-sm-1
        input.form-control.btn.btn-success(type="button" ,value="Add",onclick='addInformation()') 
      div.col-sm-1
        input.form-control.btn.btn-success(type="button" ,value="Update",onclick='updateInformation()') 
      div.col-sm-1
        input.form-control.btn.btn-success(type="button" ,value="Delete",onclick='deleteInformation()') 
    
  
